body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border: 1px red solid;
  background-color: rgb(79, 139, 218);
}

form {
  display: flex;
  height: 21px;
}

.search-area {

}

#search {
  display: none;
  border: 1px solid red;
  background-color: white;
}
